Repository heppokofrontend/heppokofrontend.com: changes, and which lint-staged commands are due for each by the changed paths.
All: textlint, stylelint, eslint --quiet --jsx

.lintstagedrc.yml:

'*.md':
  - textlint
  - git add
'*.scss':
  - stylelint
  - git add
'*.ts':
  - eslint --quiet --jsx
  - git add

Update
  .browserslistrc
  .editorconfig
Due: none

Update
  static/.htaccess
Due: none

Update
  gatsby-config.js
  package-lock.json
  package.json
  src/components/str-pagetitle.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/license.tsx
  src/pages/link.tsx
  src/pages/profile.tsx
  src/style/module/_link.scss
  src/style/structure/_structure.scss
  src/templates/blog-post.tsx
  types/graphql-types.d.ts
Due: stylelint, eslint --quiet --jsx

Update
  src/pages/index.tsx
  src/style/module/_link.scss
  src/templates/blog-post.tsx
  types/graphql-types.d.ts
Due: stylelint, eslint --quiet --jsx

Update
  src/components/site-header/nav-global.tsx
  src/pages/license.tsx
  src/pages/links.tsx
  src/style/navigation/_navitation.scss
  src/style/site/_header.scss
  types/graphql-types.d.ts
Due: stylelint, eslint --quiet --jsx

Update
  gatsby-browser.js
  src/components/site-header/toogle-mode.tsx
  src/script/main.ts
  src/style/structure/_structure.scss
  src/templates/blog-post.tsx
  types/graphql-types.d.ts
Due: stylelint, eslint --quiet --jsx

Update
  src/style/structure/_structure.scss
  types/graphql-types.d.ts
Due: stylelint, eslint --quiet --jsx

Update
  src/components/site-header/toogle-mode.tsx
  src/script/main.ts
  src/style/define/_define.scss
  src/style/navigation/_navitation.scss
  src/style/site/_header.scss
  types/graphql-types.d.ts
Due: stylelint, eslint --quiet --jsx

Update
  .eslintrc.js
  src/components/seo.tsx
  src/pages/index.tsx
  src/pages/profile.tsx
  src/script/init.ts
  src/script/main.ts
  src/style/define/_define.scss
  src/style/define/_element.scss
  src/style/module/_adjust.scss
  src/style/module/_box.scss
  src/style/module/_hdg.scss
  src/style/module/_list.scss
  src/style/module/_module.scss
  src/style/navigation/_navitation.scss
  src/style/site/_footer.scss
  src/style/site/_header.scss
  src/style/structure/_structure.scss
  src/templates/blog-post.tsx
  types/graphql-types.d.ts
Due: stylelint, eslint --quiet --jsx

Update
  src/components/seo.tsx
  src/components/site-footer/index.tsx
  src/pages/about.tsx
  src/style/define/_define.scss
  src/style/module/_list.scss
  src/style/module/_module.scss
  src/style/site/_footer.scss
  src/style/structure/_structure.scss
  static/asset/image/ogp.png
Due: stylelint

Update
  src/components/site-header/index.tsx
  src/style/site/_header.scss
  types/graphql-types.d.ts
Due: stylelint, eslint --quiet --jsx

Update
  package.json
  src/style/site/_header.scss
  types/graphql-types.d.ts
Due: stylelint, eslint --quiet --jsx

data-is-dark-mode -> data-dark-mode
  src/script/main.ts
  src/style/define/_element.scss
  src/style/module/_link.scss
  src/style/module/_list.scss
  src/style/module/_module.scss
  src/style/navigation/_navitation.scss
  src/style/site/_footer.scss
  src/style/site/_header.scss
  src/style/site/_site.scss
  src/style/structure/_structure.scss
Due: stylelint, eslint --quiet --jsx

Add 2020/hello-world
  content/blog/2020/hello-world/hero.png
  content/blog/2020/hello-world/index.md
Due: textlint

Update
  src/components/seo.tsx
Due: none

Update
  src/style/define/_element.scss
  src/style/navigation/_navitation.scss
  src/style/site/_footer.scss
  src/style/site/_header.scss
  src/style/site/_site.scss
  src/style/structure/_structure.scss
Due: stylelint

Update
  src/script/main.ts
  static/asset/image/logo/note-100.png
  static/asset/image/logo/qiita-100.png
Due: eslint --quiet --jsx

やっぱり墨かっこ削除
  src/style/module/_list.scss
Due: stylelint

💪 OGPの`twitter:card`をsummary_large_imageに変更
  src/components/seo.tsx
Due: none

✨ Add: ギャラリーページ
  src/pages/gallery.tsx
Due: none
